{% if settings.enable_shipping_bar%}
  <div class="shippingbar">
    <div class="wrapper">
    	{% if settings.enable_shipping_email%}
        <section class="shipping_email">          
          <a href="mailto:{{settings.shipping_email}}">
            <i class="fa fa-envelope"></i>
            <span>{{settings.shipping_email}}</span>
          </a>
        </section>
        {% endif %}

        <section class="shipping_text">
          {{settings.shipping_text}}
        </section>

        {% if settings.enable_shipping_phone%}
        <section class="shipping_phone">          
          <a href="tel:{{settings.shipping_phone}}">
            <i class="fa fa-phone"></i>
            <span>{{settings.shipping_phone}}</span>
          </a>
        </section>
        {% endif %}
    </div>
  </div>
{% endif %}


{% if settings.header_type == 'header1' %}

<header class="wrapper">
  <a href="/" class="header-logo">
    <h1>
      <img
        alt="{{ settings.web_title }}"
        src="{{ settings.logo | image_url: width: 200 }}"
        width="{{ settings.logo.width }}"
        height="{{ settings.logo.height }}"
      >

      <span class="text-hidden"></span>
    </h1>
  </a>
  
  <form action="/search" method="get" class="header-search" role="search">           
    <input type="search" name="q" value="" placeholder="Search: Editable Content">
    <button type="submit" class="search-btn">Search</button>
  </form>
  
  <a href="/cart" class="header_cart" aria-controls="CartDrawer" aria-expanded="true" target="">
    <span class="fa fa-shopping-cart" aria-hidden="true"></span>
    <span class="CartCount">0</span>
  </a>
  
</header>

{% endif %}
{% if settings.header_type == 'header2' %}

<header>
  <h1>HEADER 2</h1>
</header>


{% endif %}

<div class="header-nav">
  	{% assign mainmenu = linklists.main-menu %}
	<nav class="wrapper">
      <ul>
        {% for link in mainmenu.links %}
        	<li class="menu-item{% if link.links != blank %} item-has-child {% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
              {% if link.links != blank %}
              <ul class="sub-menu">
        		{% for sub_link in link.links %}
        			<li><a href="{{ link.url }}">{{ sub_link.title }}</a></li>
              	{% endfor %}
              </ul>
              {% endif %}
        	</li>
        {% endfor %}
      </ul>
	</nav>
</div>
