<h1>{{ article.title }}</h1>
<small>{{ article.published_at | date: "%B %d, %Y" }}</small>

<div>
  {{ article.content }}
</div>

{% if article.comments_enabled? %}
  <div>
      <h2>Comments</h2>
      {% for comment in article.comments %}
        <div>
          <h3>{{ comment.author }}</h3>
          <p>{{ comment.content }}</p>
        </div>
      {% endfor %}
    
    <hr />

    {% form 'new_comment', article %}
        {{ form.errors | default_errors }}

      <div class="name">
        <label for="name">Name</label>
        <input type="text" name="comment[author]" id="name" value="{{ form.author }}" />
      </div>

      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="comment[email]" id="email" value="{{ form.email }}" />
      </div>

      <div class="content">
        <label for="content">Content</label>
        <textarea name="comment[body]" id="body" value="{{ form.body }}"></textarea>
      </div>

      <div class="submit">
        <input type="submit" value="Post" />
      </div>
    {% endform %}

  </div>
{% endif %}
