<h1>{{ product.title }}</h1>
{{ product.images.first | product_img_url: 'large' | img_tag: product.title }}
<p>{{  product.price | money }}</p>
<div>
  <p>{{ product.description }}</p>
</div>


{% form 'product', product %}
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>
  <button type="submit">{{ "general.add_to_cart" | t }}</button>
{% endform %}
